.group-header {
  font-size: 30px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-top: 5vw;
}

.group-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem 1rem;
  margin-top: 3vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

.modules-main {
  margin-bottom: 5vw;
}

@media (max-width: 1380px) {
  .group-header {
    font-size: 27px;
  }
}

@media (max-width: 768px) {
  .group-header {
    font-size: 23px;
    margin-top: 15vw;
  }

  .group-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
