.main {
  width: 80%;
  padding: 0px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greet-main {
  max-width: 1370px;
  padding: 0px 10px;
  margin: 0px auto;
  margin-top: 4rem;
  display: flex;
}

.greeting-main {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  text-align: center;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  margin-top: 9vh;
  margin-bottom: 1.5ch;
  font-size: 7ch;
  line-height: 5px;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 4.5ch;
  line-height: 40px;
  font-family: "Google Sans Medium";
}

.typewriter {
  padding: 1ch;
  text-align: center;
}

.greeting-image-div > * {
  max-width: 80%;
  height: auto;
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 15px 15px;
  margin-top: 25px;
  border-radius: 4px;
  border-width: 0px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-family: "Google Sans Regular";
  font-size: 1.8ch;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text-div {
    margin-top: 5vw;
  }

  .greeting-text {
    font-size: 50px;
  }

  .greeting-text-p {
    font-size: 30px;
  }

  .greet-main {
    max-width: 900px;
    margin-top: 0rem;
  }

  .greeting-image-div > * {
    max-width: 80%;
    height: auto;
    margin-top: 10vw;
  }
}

@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }

  .greeting-text {
    font-size: 5ch;
    margin-top: 0px;
    text-align: center;
  }

  .greeting-nickname {
    font-size: 2.5ch;
    text-align: center;
  }

  .greeting-text-p {
    font-size: 2.3ch !important;
    text-align: center;
  }

  .greeting-main {
    display: block;
    margin-top: 2rem;
  }

  .greeting-image-div > * {
    max-width: 60%;
    height: auto;
    margin-top: 0vh;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
